:root {
    font-family: 'Nunito', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nonselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blur {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

input {
    filter: none;
}

input:autofill {
    background: none;
    background-color: #242424;
}

footer {
    margin-top: 50em;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: rgba(255, 100, 100, 0.85);
}

.NavBar {
    list-style-type: none;
    background-color: rgba(69, 69, 69, 0.5);
    overflow: hidden;
    margin: 0px;
    padding: 0;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
}

.NavBarItem {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    padding: 15px 10px;
    transition: 0.5s;
}

.NavBarItem:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.65);
    background-color: rgba(50, 50, 50, 1.0);
}

.NavBar .NavBarItem:first-child {
    padding-left: 1.5em;
}

.NavBar .NavBarProfile {
    text-align: center;
    float: right;
    color: rgba(255, 255, 255, 0.75);
    display: inline;
    margin: 5px 25px;
    position: absolute;
    right: 0.5em;
}

.NavBarProfile img {
    width: 45px;
    height: 45px;
    margin: 0px 10px;
    display: inline;
    float: left;
    border-radius: 50%;
    border: solid;
    border-width: 2px;
    border-color: rgb(175, 175, 175);
}

.NavBarProfile img:hover {
    cursor: pointer;
}

.NavBarProfile h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 0.8em;
    float: right;
    white-space: nowrap;
    display: inline;
    position: relative;
    margin: 0px;
}

.NavBarProfile h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 0.6em;
    font-weight: 500;
    margin: 0px;
    top: 25px;
    position: relative;
    white-space: nowrap;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rem;
}

.textbox {
    background-color: #242424;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
    margin: 0.3rem;
    width: 25em;
    border-radius: 15px;
    border: solid;
    border-width: 2px;
    border-color: #242424;
    position: relative;
    bottom: 2rem;
    outline: none;
    transition: 500ms;
}

.textbox:focus {
    border-color: grey;
}

button {
    background-color: #c42c21;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border-radius: 1em;
    border: solid;
    border-width: 2px;
    border-color: #c42c21;
    min-width: 2rem;
    font-size: 1.3rem;
    transition: 500ms;
}

button:hover {
    cursor: pointer;
    background-color: #99221a;
    border-color: #99221a;
    transition: 300ms;
}

button:active {
    border-color: grey;
}

button:focus {
    outline: none;
}

.AuthBox button {
    position: relative;
    bottom: 2rem;
}

.AuthBox {
    border-radius: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;
    background-color: rgba(69, 69, 69, 0.5);
    padding: 9rem 15rem;
    max-width: 15rem;
    max-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.AuthBox h1 {
    position: relative;
    bottom: 1rem;
}

.profile {
    width: 945px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profilePageImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.profilePageInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 8rem;
    left: 3rem;
    width: fit-content;
}

.profilePageEditIcon {
    position: absolute;
    right: 4em;
    bottom: 19.2em;
}

.profilePageEditIcon:hover {
    cursor: pointer;
}

.profilePageAvatar {
    width: 141.75px;
    display: block;
    border-radius: 50%;
    border: solid;
    border-width: 3px;
    border-color: rgb(175, 175, 175);
    margin: 0;
}

.profilePageInfo h1 {
    margin: 0;
}

.profilePageInfo h4 {
    margin: 0;
    font-weight: 400;
}

.profilePageInfo button {
    padding: 0.1em 0.9em;
    font-size: 1em;
}

.ActivatePrompt {
    position: absolute;
    top: 300px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 40%;
    background: rgb(45, 45, 45);
    border-radius: 15px;
    height: 250px;
    padding: 50px 20px;
    margin: auto;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
}

#ImageUpload {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: fit-content;
    padding: 35px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    border-radius: 25px;
    background: rgb(45, 45, 45);
    display: flex;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#ImageUpload.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.ImageUploadHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    bottom: 3em;
    margin: 1em 0em;
}

.ImageUploadHeader .close {
    position: absolute;
    right: 0;
    transition: 0.3s;
}

.ImageUploadHeader h1 {
    font-size: 1.5em;
}

.ImageUploadHeader .close:hover {
    cursor: pointer;
    filter: brightness(70%);
}

.ImageContainer {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    position: relative;
    bottom: 2em;
    border: solid;
    border-color: rgb(25, 25, 25);
    border-width: 2px;
}

.drag {
    border-style: dashed;
    border-color: rgb(125, 125, 125)
}

.hint {
    padding: 5em;
}

.hint h3 {
    color: rgb(125, 125, 125);
}

.ImageUploadFooter {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.ImageUploadFooter #load {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border-radius: 1em;
    border: solid;
    border-width: 2px;
    min-width: 2rem;
    font-size: 1.3rem;
    transition: 500ms;
    background: #525252;
    border-color: #525252;
}

.ImageUploadFooter #load:hover {
    cursor: pointer;
    transition: 300ms;
    border-color: #424242;
    background: #424242;
}

.ImageUploadFooter #load:active {
    border-color: #727272;
}

.ImageUploadFooter #avatar {
    visibility: hidden;
    position: absolute;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3em 4em 0em 4em;
    width: fit-content;
    background-color: rgba(69, 69, 69, 0.5);
    border-radius: 10px;
    position: relative;
    bottom: 13em;
}

.order h1 {
    position: relative;
    bottom: 2em;
    font-size: 1.6em;
}

.calculator h3 {
    font-weight: 600;
}

.order h2 {
    font-size: 1.35em;
    font-weight: 600;
    position: relative;
    bottom: 2.5em;
    margin: 0;
}

.order h2 b {
    color: rgba(20, 195, 20, 0.7);
    font-weight: 700;
}

.order button {
    position: relative;
    bottom: 1.5em;
}

.calculator {
    position: relative;
    bottom: 3.5em;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}

.steam-credentials {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 1em;
    text-align: center;
}

.steam-credentials h3 {
    margin: 0.5em;
    font-weight: 400;
    position: relative;
    bottom: 2em;
}

.steam-credentials .textbox {
    width: 27em;
}

.swal-button--confirm {
    background-color: hsl(0, 83%, 58%);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    transition: 500ms;
}

.swal-button--confirm:hover {
    cursor: pointer;
    background-color: hsl(0, 70%, 52%) !important;
    transition: 300ms;
}

.swal-button--confirm:focus {
    box-shadow: none;
    outline: none;
}

.swal-modal {
    background-color: #323232;
}

.swal-title {
    color: rgba(255, 255, 255, 0.87);
}

.swal-text {
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
}

.swal-footer {
    text-align: center;
}

.password-icon {
    position: relative;
    width: 24px;
    height: 24px;
    transition: 200ms;
}

.password-icon:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.steam-credentials .password-icon {
    bottom: 4.75em;
    left: 35em;
}

.AuthBox .password-icon {
    bottom: 3.65em;
    left: 12em;
}

.mmr-input {
    background-color: #303030;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    margin: 0em 0.5em;
    border-radius: 5px;
    width: 2.4em;
    border: solid;
    border-width: 1px;
    border-color: #303030;
    outline: none;
    transition: 200ms;
}

.mmr-input:focus {
    border-color: grey;
}

.nav-horizontal-container {
    background-color: rgba(49, 49, 49, 0.5);
    margin: 15px 0px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.nav-horizontal {
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0em;
    width: 237.05px;
}

.nav-horizontal .NavBarItem {
    text-align: start;
    font-size: 0.9em;
    padding: 5px 15px;
    border-top: 1px solid rgba(65, 65, 65, 1.0);
}

.nav-horizontal .NavBarItem:first-child {
    border: none;
}

.verification-test {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em 4em;
    background-color: rgba(69, 69, 69, 0.5);
    border-radius: 10px;
    position: relative;
    bottom: 13em;
    width: 70%;
}

.verification-test .test-header {
    text-align: center;
    font-weight: 500;
    margin-top: 0;
}

.test-question {
    border: 2px solid grey;
    border-radius: 5px;
    margin-bottom: 1em;
}

.test-question-title {
    margin: 0em 1em;
    margin-top: 0.25em;
}

.test-question-answers-list {
    margin-left: 1.5em;
}

.test-footer {
    display: flex;
    justify-content: center;
    align-self: center;
}

.verification-image-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em 4em;
    background-color: rgba(69, 69, 69, 0.5);
    border-radius: 10px;
    position: relative;
    bottom: 13em;
    width: 70%;
}

.verification-image-wrapper h2 {
    text-align: center;
}

.verification-image-wrapper h3 {
    margin: 0.2em;
}

.verification-example {
    margin: 1em;
}

.admin {
    display: flex;
    flex-direction: column;
    padding: 2em 4em;
    background-color: rgba(69, 69, 69, 0.5);
    border-radius: 10px;
    position: relative;
    bottom: 10em;
    width: 70%;
    height: 100em;
}

.admin h1 {
    text-align: center;
}

.tickets {
    background-color: rgba(69, 69, 69, .9)
}

.ticket {
    border: 1px solid grey;
    padding: 1em;
    transition: 200ms;
}

.ticket h4 {
    font-weight: 400;
    font-size: 1.1em;
    margin: 0.2em;
}

.ticket img {
    width: 100%;
}

.ticket-footer {
    display: flex;
    width: 100%;
    margin: 0.5em 0em;
}

.ticket button {
    background-color: green;
    padding: 0.0em 1.0em;
    font-size: 1em;
    border: none;
}

.ticket button:hover {
    filter: brightness(80%);
}

.ticket button:active {
    filter: brightness(85%);
}

.ticket .second-button {
    background-color: red;
    margin-left: auto;
}

.ticket-user-info {
    margin-left: 1em;
}

.ticket-user-info img {
    width: 10%;
}

.ticket-closed {
    filter: blur(1px) opacity(15%);
}
