:root {
    font-family: 'Nunito', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nonselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blur {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.red {
    color: red;
}

input {
    filter: none;
}

input:autofill {
    background: none;
    background-color: #242424;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: rgba(255, 100, 100, 0.85);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rem;
}

.textbox {
    background-color: #242424;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
    margin: 0.3rem;
    width: 25em;
    border-radius: 15px;
    border: solid;
    border-width: 2px;
    border-color: #242424;
    position: relative;
    bottom: 2rem;
    outline: none;
    transition: 500ms;
}

.textbox:focus {
    border-color: grey;
}

button {
    background-color: #c42c21;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border-radius: 1em;
    border: solid;
    border-width: 2px;
    border-color: #c42c21;
    min-width: 2rem;
    font-size: 1.3rem;
    transition: 500ms;
}

button:hover {
    cursor: pointer;
    background-color: #99221a;
    border-color: #99221a;
    transition: 300ms;
}

button:active {
    border-color: grey;
}

button:focus {
    outline: none;
}

.swal-button--confirm {
    background-color: hsl(0, 83%, 58%);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    transition: 500ms;
}

.swal-button--confirm:hover {
    cursor: pointer;
    background-color: hsl(0, 70%, 52%) !important;
    transition: 300ms;
}

.swal-button--confirm:focus {
    box-shadow: none;
    outline: none;
}

.swal-modal {
    background-color: #323232;
}

.swal-title {
    color: rgba(255, 255, 255, 0.87);
}

.swal-text {
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
}

.swal-footer {
    text-align: center;
}

.password-icon {
    position: relative;
    width: 24px;
    height: 24px;
    transition: 200ms;
}

.password-icon:hover {
    cursor: pointer;
    filter: brightness(90%);
}
