:root {
<<<<<<< HEAD
  font-family: Arial, system-ui, Avenir, Helvetica, Arial, sans-serif;
=======
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
>>>>>>> dcdced64969df22a8ac0648f10a60da82ee42426
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
li a {
    color: rgba(255, 255, 255, 0.75); 
    text-decoration: none;
}

li a:hover {
    color: rgba(255, 150, 150, 0.95);
    text-decoration: none;
}

.NavBar {
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(69, 69, 69, 0.5);
    padding: 10px 10px;
    margin: 0px;
    border: solid;
    border-color: rgba(39, 39, 39, 1.0);
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
}

.NavBar .NavBarItem {
    float: left;
    text-align: center;
    padding: 10px 10px;
}

.NavBar .NavBarProfile {
    text-align: center;
    float: right;
    color: rgba(255, 255, 255, 0.75); 
    display: inline;
    position: relative;
    margin: 0px 10px;
    top: 5px;
}

.NavBarProfile img {
    width: 45px;
    height: 45px;
    margin: 0px 5px;
    display: inline;
    float: left;
}

.NavBarProfile h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 0.8em;
    float: left;
    display: inline;
    position: relative;
    margin: 0px;
}

.NavBarProfile h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 0.6em;
    font-weight: 500;
    margin: 0px;
    position: relative;
    bottom: 5px;
}

=======
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
>>>>>>> dcdced64969df22a8ac0648f10a60da82ee42426
