.verification-test {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em 4em;
    background-color: rgba(69, 69, 69, 0.5);
    border-radius: 10px;
    position: relative;
    bottom: 13em;
    width: 70%;
}
