.numeric-input {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0em;
}

.numeric-input p {
    margin: 0;
}

.numeric-input input {
    background-color: #303030;
    font-family: 'Nunito', sans-serif;
    font-size: 1.0rem;
    margin: 0em 0.5em;
    width: 2.4em;
    border: solid;
    border-width: 1px;
    border-color: #303030;
    outline: none;
    position: relative;
    bottom: 0.1em;
}
